form {
	padding: 0px;
	margin: 0px;
}

table.main {
	border: 1px solid #CCCCFF;
	width: 100%;
}

table.main thead tr {
	background-color: #CCCCFF;
}

table.main thead tr th {
	padding: 2px;
	text-align: left;
}

table.main tfoot tr {
	background-color: #CCCCFF;
}

table.main tfoot tr th {
	padding:  2px;
	text-align: left;
}

table.main tbody tr td {
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 3px;
}

#main h1 {
	color: #555555;
	font-size: 25px;
	margin: 8px 0px;
	padding: 3px 3px 3px 0px;
	font-family: "Trebuchet MS",Arial,Verdana,sans-serif;
}

div.user_label {
	float: right;
}

div.form-row {
	border-bottom: 1px solid #DDDDDD;
	clear: both;
	padding: 10px;
}

#admin-contanier label {
	color: #666666;
	display: block;
	float: left;
	font-weight: normal !important;
	padding: 0 1em 3px 0;
	text-align: left;
	width: 8em;
}

#admin-contanier div.form-row div.content {
	padding-left: 9em;
}

input.create-button {
	cursor: pointer;
	font-family: Arial,sans-serif;
	font-size: 11px;
	padding: 3px 3px 3px 20px;
	background: transparent url(../images/add.png) no-repeat scroll 3px 2px;
	border-right: 4px solid #73B65A !important;
	background-color: #FFFFCC;
	float: right;
}